*:not(.titleText, .sideOne, h1, input, img, h4, span, li, ul, a){
    background-color: black;
    font-family: Verdana, helvetica, arial, sans-serif;
}

.titleText{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-shadow: 
            1px 1px 1px white,
            2px 2px 2px #191970,
            3px 3px 3px #191970,
            4px 4px 4px #191970;
}

.content{
    font-family: Verdana, helvetica, arial, sans-serif;
    width: 100%;
    height: 773px;
    background-color: #111111;
    border: 1px solid white;
}

.sideOne{
    padding: 0;
    margin: 0;
    height: 100px;
    background-color: #111111;
    color: white;
    border-bottom: 1px solid white;
}

h1{
    margin-left: 7rem;
    margin-top: -5rem;
    width: 1000px;
}

h4{
    margin-left: 7rem;
    margin-top: -1rem;
    width: 500px;
    font-size: 13px;
}

img{
    margin-left: 10px;
    margin-top: 10px;
    height: 80px;
}

input{
    padding: 0;
    margin-left: 93rem;
}

.inSearch{
    margin-left: 95rem;
    font-size: 12px;
    width: 80px;
    margin-top: -20px;
}

.container{
    border-left: 1px solid white;
    height: 672px;
    width: 1px;
    margin-left: 105px;
}

li{
    font-family: Verdana, helvetica, arial, sans-serif;
    margin: 5px;
    font-size: 13px;
}

ul{
    list-style-type: none;
    margin-top: -41rem;
    margin-left: -1.8rem;
}

a:hover{
    border:1px solid white;
}

a{
    text-decoration: none;
    color: white;
    background-color: #111111;
}

.hline{
    border-bottom: 1px solid white;
    margin-top: -40.5rem;
    margin-left: 6.6rem;
    width: 1725x;
    
}