*:not(.titleText, .sideOne, h1, input, img, h4, span, li, ul, a, .nav, .phrase, .track, .cont, .template, .secondTitle, p, table, th, .scroll){
    background-color: black;
    font-family: Verdana, helvetica, arial, sans-serif;
}

.titleText{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-shadow:
            10px 15px 70px rgba(65, 105, 231, 1);
}

.content{
    font-family: Verdana, helvetica, arial, sans-serif;
    width: 100%;
    height: 773px;
    background-color: #111111;
    border: 1px solid white;
    margin-top: 1.7rem;
}

.sideOne{
    padding: 0;
    margin: 0;
    height: 100px;
    background-color: #111111;
    color: white;
    border-bottom: 1px solid white;
}

h1{
    margin-left: 7rem;
    margin-top: -5rem;
    width: 1000px;
}

h4{
    margin-left: 7rem;
    margin-top: -1rem;
    width: 500px;
    font-size: 13px;
}

img{
    margin-left: 10px;
    margin-top: 10px;
    height: 80px;
}

.container{
    border-left: 1px solid white;
    height: 672px;
    width: 1px;
    margin-left: 105px;
}

li{
    font-family: Verdana, helvetica, arial, sans-serif;
    margin: 4px;
    font-size: 13px;
}

ul{
    list-style-type: none;
    margin-top: -40rem;
    margin-left: -1.8rem;
}

a:hover{
    border:1px solid white;
}

a{
    text-decoration: none;
    color: white;
    background-color: #111111;
}

.hline{
    border-bottom: 1px solid white;
    margin-top: -40.5rem;
    width: 100%;
}

.nav{
    color: white;
    font-size: 7px;
    margin-top: 3.55rem;
    margin-left: -6.4rem;
}

.phrase{
    color: white;
    margin-top: -9.2rem;
    margin-left: -5rem;
    font-size: 6px;
}

.track{
    color: white;
    font-size: 7px;
    margin-top: 11.6rem;
    margin-left: 1rem;
}

.template{
    font-size: 1rem;
    margin-top: 6rem;
    margin-left:12rem;
}

.secondTitle{
    font-size: 13px;
    margin-top: -8rem;
    margin-left: 23rem;
    color: white;
    text-shadow:
        10px 15px 70px rgba(65, 105, 231, 1);
}

.supp{
    margin-left: 90rem;
    width: 100px;
}

p{
    font-size: 20px;
    color: white;
    margin-left: -2rem;
    margin-right: 2rem;
    position: relative;
    text-align: justify;
}

.vline{
    margin-left: 50rem;
    margin-top: -1.7rem;
    border: 1px solid white;
    width: 0.1px;
    height: 645px;
}

table{
    border: 1px solid white;
    width: 105.4%;
    margin-left: -5.4rem;
    margin-top: -5.6rem;
    border-top: none;
    border-right: none;
}

th{
    background-color: #111111;
    color: white;
}

.card{
    color: white;
    display: inline-block;
    width: 150px;
    height: 250px;
    margin-right: 3rem;
    margin-top: 2rem;
    overflow: hidden;
    filter: blur(0);
    transition: filter 0.3s ease;
}

.scroll{
    margin-top: -5.6rem;
    height: 646px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: auto;
}

.img{
    margin: -0.5px;
    margin-left: -1px;
    width: 151px;
    height: 100%;
    filter: blur(0);
    transition: filter 0.2s ease;
}

.card:hover .img{
    filter: blur(5px);
    z-index: 1;
}

.descr{
    margin-left: 1rem;
    color: aqua;
}
