*:not(.titleText, aside, h1, input, img, h4, span){
    background-color: black;
    font-family: Verdana, helvetica, arial, sans-serif;
}

.titleText{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-shadow: 
            1px 1px 1px white,
            2px 2px 2px #191970,
            3px 3px 3px #191970,
            4px 4px 4px #191970;
}

.content{
    font-family: Verdana, helvetica, arial, sans-serif;
    width: 100%;
    height: 773px;
    background-color: #111111;
    border: 1px solid white;
}

aside{
    padding: 0;
    margin: 0;
    height: 100px;
    background-color: #111111;
    color: white;
    border-bottom: 1px solid white;
}

h1{
    margin-left: 7rem;
    margin-top: -5rem;
    width: 500px;
}

h4{
    margin-left: 7rem;
    margin-top: -1rem;
    width: 500px;
    font-size: 13px;
}

img{
    margin-left: 10px;
    margin-top: 10px;
    height: 80px;
}

input{
    padding: 0;
    margin-left: 93rem;
    margin-top: -1em;
}

.inSearch{
    margin-left: 94rem;
    font-size: 12px;
    width: 80px;
    margin-top: -22px;
}

