<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Link</th>
            </tr>
            <tr>
                <th>Wafw00f</th>
                <th><a href="https://github.com/EnableSecurity/wafw00f">https://github.com/EnableSecurity/wafw00f</a></th>
            </tr>
            <tr>
                <th>Burpsuite</th>
                <th><a href=" https://portswigger.net/burp/communitydownload"> https://portswigger.net/burp/communitydownload</a></th>
            </tr>
            <tr>
                <th>WPScan</th>
                <th><a href=" https://github.com/wpscanteam/wpscan"> https://github.com/wpscanteam/wpscan</a></th>
            </tr>
            <tr>
                <th>Aquatone</th>
                <th><a href=" https://github.com/michenriksen/aquatone"> https://github.com/michenriksen/aquatone</a></th>
            </tr>
            <tr>
                <th>Arjun</th>
                <th><a href=" https://github.com/s0md3v/Arjun"> https://github.com/s0md3v/Arjun</a></th>
            </tr>
            <tr>
                <th>Assetfinder</th>
                <th><a href=" https://github.com/tomnomnom/assetfinder"> https://github.com/tomnomnom/assetfinder</a></th>
            </tr>
            <tr>
                <th>Seclists</th>
                <th><a href=" https://github.com/danielmiessler/SecLists"> https://github.com/danielmiessler/SecLists</a></th>
            </tr>
            <tr>
                <th>Exploit-db</th>
                <th><a href="https://www.exploit-db.com">https://www.exploit-db.com</a></th>
            </tr>
            <tr>
                <th>Sn1per</th>
                <th><a href=" https://github.com/1N3/Sn1per"> https://github.com/1N3/Sn1per</a></th>
            </tr>
        </table>
        <div class="vline"></div>
    </body>
</html>