<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <body>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                </tr>
                <tr>
                    <th>AwesomeWM by p3nguinkun</th>
                    <th><a href="https://github.com/p3nguin-kun/penguinRice">https://github.com/p3nguin-kun/penguinRice</a></th>
                </tr>
                <tr>
                    <th>bspwm wm</th>
                    <th><a href="https://github.com/gh0stzk/dotfiles">https://github.com/gh0stzk/dotfiles</a></th>
                </tr>
                <tr>
                    <th>Hyprland</th>
                    <th><a href="https://hyprland.org/">https://hyprland.org/</a></th>
                </tr>
                <tr>
                    <th>HyprlandWM</th>
                    <th><a href="https://github.com/MathisP75/summer-day-and-night">https://github.com/MathisP75/summer-day-and-night</a></th>
                </tr>
                <tr>
                    <th>NestJS</th>
                    <th><a href="https://github.com/nestjs/nest">https://github.com/nestjs/nest</a></th>
                </tr>
                <tr>
                    <th>Dotfiles</th>
                    <th><a href="https://github.com/justTOBBi/dotfiles">https://github.com/justTOBBi/dotfiles</a></th>
                </tr>
                <tr>
                    <th>Hypr Dotfiles</th>
                    <th><a href="https://github.com/Deathemonic/Cat-Dots">https://github.com/Deathemonic/Cat-Dots</a></th>
                </tr>
                <tr>
                    <th>PoE Building</th>
                    <th><a href="https://github.com/PathOfBuildingCommunity/PathOfBuilding">https://github.com/PathOfBuildingCommunity/PathOfBuilding</a></th>
                </tr>
                <tr>
                    <th>React</th>
                    <th><a href="https://github.com/facebook/react">https://github.com/facebook/react</a></th>
                </tr>
            </table>
            <div class="vline"></div>
        </body>
    </head>
</html>